.container {
    width: 1000px;
}

.navbar {
    background-color: rgb(61, 61, 61);
}

.navbar-brand {
    color: #fff;
    font-size: 40px;
    padding: 12px;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: rgb(115, 201, 201);
}

.navbar-brand:hover {
    color: aqua;
}

.lh {
    line-height: 15px;
}

.dotted {
    color: rgb(189, 182, 182);
    line-break: 10p;
}

.card {
    background-color: rgb(1, 158, 255);
    color: #fff;
}

.card h4 {
    text-align: center;
}

.part-1 {
    width: 48%;
}

.part-2{width: 48%;}

.c-footer:hover{color: rgb(202, 34, 34);}